@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@400;500;700&display=swap');

:root {
  --white: #ffe;
  --light: #ccc;
  --light-hover: #999;
  --grey: #555;
  --dark: #333;
  --black: #111;
  --orange-btn: #FF8F1F;
  --orange-btn-hover: #db730b;
  --blue-btn: #1E90FF;
  --blue-btn-hover: #0573e0;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  /* border: red solid 1px; */
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background: var(--dark);
}

.calculator {
  display: flex;
  flex-direction: column;
  gap: 4px;
  background: var(--white);
  padding: 8px;
  border-radius: 8px;
}

.visor {
  background-color: var(--dark);
  padding: 30px 20px;
  text-align: right;
  border-radius: 4px;
  color: var(--light);
  line-height: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.prevNum {
  font-size: 14px;
}

.currNum {
  font-size: 20px;
}

.btn-row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4px;
}

.row-1 {
  grid-template-columns: 2.05fr 1fr 1fr;
}

.row-5 {
  grid-template-columns: 1fr 1fr 2.05fr;
}

.btn {
  padding: 10px 12px;
  background-color: var(--light);
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.operator,
.ac,
.del {
  background: var(--blue-btn);
}

.operator:hover,
.ac:hover,
.del:hover {
  background: var(--blue-btn-hover);
}


.equal {
  background-color: var(--orange-btn);
}

.equal:hover {
  background-color: var(--orange-btn-hover);
}

.number:hover,
.dot:hover {
  background-color: var(--light-hover);
}  

/* footer */

.bg-footer {
  height: auto;
  color: var(--white);
  background-color: var(--black);
  width: 100%;
}

.footer-flex {
  display: flex;
  gap: 8px;
  padding: 10px;
  justify-content: center;
}

.bg-footer p {
  display: inline-block;
  font-size: 12px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

.bg-footer img{
  max-width: 14px;
}